/* TodoApp.css */

.todo-container {
  display: flex;
}

/* Sidebar */
.left-sidebar {
  min-height: 100vh;
  width: 200px;
  background-color: #ffffff;
  padding: 1rem;
  padding-left: 2rem;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-sidebar {
  min-height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Header section */
.main-header {
  display: flex;
  align-items: center;
}

.welcome-text {
  flex: 1;
  text-align: center;
}

.btn-logout {
  background-color: #fa5f4e;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #c0392b;
}

.folder-header {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.folder-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.folder-title-edit {
  display: flex;
}

.folder-deleter {
  display: flex;
}

.folder-deleter button {
  border: 1px solid;
  border-radius: 8px;
  padding: 0.7rem;
  font-size: 0.9rem;
  background-color: #fa5f4e;
  color: white;
  margin: 1rem 0 1rem 0;
}

/* folder delete button hover */
.folder-deleter button:hover {
  background-color: #c0392b;
}

.todo-headers {
  display: grid;
  grid-template-columns: 3% 30% 15% 15% 15% 1fr;
  text-align: center;
  margin: 0.5rem;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.todo-block {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 400px;
}

.todo-item {
  display: grid;
  grid-template-columns: 3% 30% 15% 15% 15% 1fr;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
}

.todo-num {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #7c7a7a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}

.todo-title-note {
  word-break: break-word;
  min-width: 50%;
}

.todo-title-edit {
  display: flex;
  justify-content: center;
  align-item: center;
}

.todo-title-edit button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -0.5rem;
}

.todo-title-edit button:hover {
  background: none;
  box-shadow: none;
}

.todo-item input[type="date"] {
  min-width: 50%
}

.todo-item select {
  min-width: 50%;
}

.todo-item-button {
  display: flex;
  justify-content: end;
}

.todo-item-button button:hover {
  cursor: pointer;
}

.title {
  font-size: 1.05rem;
  color: black;
  margin-right: 0rem;
}

.note {
  margin: -0.5rem 0 0.5rem 0;
  font-size: 0.95rem;
  color: #6b6b6b;
}

.todo-item input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
}

hr {
  margin: 0;
}

.new-todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-todo button {
  background-color: #646cff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.new-todo button:hover {
  background-color: #4b50d4;
}

.add-folder-btn {
  margin-top: 1rem;
  background-color: #27ae60;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.add-folder-btn:hover {
  background-color: #219150;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  min-width: 320px;
  width: 20%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-delete-folder {
  background: white;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-delete-folder h4,
p {
  margin: 0.5rem;
}

.modal-delete-folder-button {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.field-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.field-row.checkbox {
  justify-content: flex-start;
  gap: 0.5rem;
}
